* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	font-family: 'Rubik', sans-serif;
}

body {
	height: 100vh;
	/*background-image: url(https://images.pexels.com/photos/1973170/pexels-photo-1973170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);*/
	background-color: #861657;
	background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.box {
	background-color: rgba(225,225,225,.88);
	width: 80%;
	color: #383838;
	position: relative;
	top: 4%;
	border-radius: 0%;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#profile-pic {
	max-width: 180px;
	height: auto;
	border-radius: 50%;
	padding: 2px 15px;
	margin: 20px;
}


.texts {
	padding: 0px 50px;
	text-align: left;
}

.social-media {
	text-align: left;
}

.social-media i {
	color: #383838;
	padding: 10px;
}

.contacts {
	text-align: right;
}

.card-footer {
	padding: 0rem;
}

.card {
	margin-left: 70px;
	padding: 0px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.icon {
	font-size: 60px;
}



